.Guess {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Guess .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.Guess img {
  max-width: 99vw;
  max-height: 48vh;
}

.Guess .map {
  height: 50vh;
  width: 99vw;
  border: 1px solid darkgray;
}

.Guess .controls {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: auto;
  position: absolute;
  top: 10px;
}

.Guess .btn {
  width: 30px;
  height: 30px;
  color: black;
  border-radius: 50%;
  aspect-ratio: 1/1;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: 1px solid rgb(20, 20, 20);
  /*padding: 5px;*/
  font-family: Arial, Helvetica, sans-serif;

}

.Guess .exit {
  background-color: rgb(240, 93, 93);
}

.Guess .submit {
  background-color: rgb(40, 200, 40);
}

.Guess .submit:hover {
  background-color: rgb(32, 160, 32);
}

/* Desktop Styles */
@media (min-width: 1200px) {
  .Guess {
    flex-direction: row;
    justify-content: space-between;
  }

  .Guess .info {
    width: 50%;
    height: 98vh;
    justify-content: space-between;
    position: relative;
  }

  .Guess img {
    max-width: 49vw;
    max-height: 99vh;
  }

  .Guess .map {
    width: 50vw;
    height: 98vh;
  }

  .Guess .controls {
    position: absolute;
    bottom:20px;
    height: 35px;
  }

  .Guess .btn {
    font-size: 36px;
    width: 50px;
    height: 50px;
  }
}
